.text{
   font-size:22px;
   line-height: 1.6;
   color: #c4c5c5;
   margin-bottom: 30px;
}
.cardwrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
}
.signin{
    margin-top: 20px;
}
.txtsign{
    color:#0077FF;
}